{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MaxBoost {% block title %}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Advent+Pro|Fira+Sans+Extra+Condensed|Julius+Sans+One|PT+Sans|Tajawal|Titillium+Web" rel="stylesheet">
    <link href="{% static 'style.css' %}" rel="stylesheet"/>
    <script src="{% static 'script.js' %}"></script>
</head>
<body {% if most_played %} style="background-image: url('/media/{{ most_played }}');
                                background-size: cover;
                                background-position: center;"
      {% endif %}>
    <ul id="menu">
        <li class="li1">
            <a href="/play">Play</a>
        </li>
        <li class="li2">
            <a href="/hire">Hire</a>
        </li>
        <li class="li3">
            <a href="/">
                <h1 id="main-h1">MaxBoost</h1>
            </a>
        </li>
        <!-- not working, need to implement signin feature -->
        {% if signed_in == True %}
            <li class="li4">
                <a href="/messages">
                    <img src="/static/img/icons/set1/message.png" class="y-btn">
                </a>
            </li>
            <li class="li5">
                <a href="/profile">Profile</a>
            </li>
        <!-- not working, need to implement signin feature -->
        {% else %}
            <li class="li4" onclick="showSignin()">
                <p id="signin-btn">Sign In</p>
            </li>
            <li class="li5">
                <a href="/signup">Sign Up</a>
            </li>
            <div id="signin">
            {% for field in signin_form %}
                <p>{{ field }}</p>
            {% endfor %}
                <img src="/static/img/icons/set2/Y.png" class="y-btn">
                <img src="/static/img/icons/set2/N.png" class="n-btn" onclick="hideSignin()">
            </div>
        {% endif %}
    </ul>
    <p id="page-width">0</p>
    <br>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <div id="ppl-online" onclick="showOnline()">
        <p>1 online</p><img src="/static/img/icons/set2/online.png" id="online-icon">
    </div>
    <div id="show-online-btns">
        <img src="/static/img/icons/set2/N.png" id="online-clsBtn" onclick="hideOnline()" />
    </div>
    <div id="show-online">
        <h4>your list</h4>
        <div id="no-list">
            <p>sign in to view your list</p>
        </div>
        <div id="your-list">
            <p id="fr1">username</p>
            <p id="fr2">longerusername</p>
            <p id="fr3">uname</p>
            <p id="fr4">muchevenlongerusername</p>
        </div>
        <h4>everyone</h4>
        <div id="everyone">
            <p id="prsn1">username</p>
            <p id="prsn2">longerusername</p>
            <p id="prsn3">uname</p>
            <p id="prsn4">muchevenlongerusername</p>
            <p id="prsn5">username</p>
            <p id="prsn6">longerusername</p>
            <p id="prsn7">uname</p>
            <p id="prsn8">muchevenlongerusername</p>
        </div>
    </div>
</body>
</html>