{% extends 'base.html' %}
{% load static %}
{% load filter_query from tags %}

{% block title %} - {{ user.username }}{% endblock %}

{% block content %}
<div id="profile-header">
    <h1 id="username">
        <img id="profile-pic" src="{{ user.picture.url }}">
        {{ user.username }}
        {% if user.is_online == True %}
        <img class="user-status" src="/static/img/icons/set2/online.png">
        {% else %}
        <img class="user-status" src="/static/img/icons/set2/offline.png">
        {% endif %}
    </h1>
    <div id="profile-btns">
        <button class="profile-btn" id="add-user">add</button>
        <button class="profile-btn" id="msg-user">message</button>
        {% if user.is_booster == True %}
        <button class="profile-btn" id="hire-user">hire</button>
        {% endif %}
    </div>
</div>
<div id="game-stats">
    <h2 style="margin: 0;">Stats</h2>
    <hr>
    <div id="stat-table">
        {% for stat in user_stats %}
        <div class="stat-tab" onclick="showStats('{{ stat.game_title }}-stats')">
            {{ stat.game_title }}
        </div>
        <div class="stat-table" id="{{ stat.game_title }}-stats" style="display: none;">
            <table>
                <tr>
                    <th>Time Played</th>
                    <th>Level</th>
                    <th>Times Played</th>
                </tr>
                <br>
                <tr>
                    <td>{{ stat.hours_played }}</td>
                    <td>{{ stat.level }}</td>
                    <td>{{ stat.times_played }}</td>
                </tr>
            </table>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}